@using BANK_MVC_ONION_DI.Models
@model IEnumerable<Client_ViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ПРОСМОТР ВСЕХ КЛИЕНТОВ БАНКА</title>
    <link rel="stylesheet" href="~/Content/Site.css" type="text/css" />
</head>
<body>
    <br />
    <form>
        <button class="knopka_2" type="button">
            <p>
                @Html.ActionLink("Добавить нового клиента", "Create_Get")
            </p>
        </button>
    </form>
    <br />
    <br />
    <form>
        <button class="knopka_2" type="button">
            <p>
                @Html.ActionLink("Найти клиента по ID", "ReedOne_Get_1")
            </p>
        </button>
    </form>
    <br />
    <br />
    <table class="table" border="1" cellpadding="4" cellspacing="0" align="center">
        <tr>
            <th colspan="8">
                @ViewBag.Header
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ClientTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientMarkJuridical)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientTaxpayNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientEMail)
            </th>
            <th>
                Действия:
            </th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ClientTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientMarkJuridical)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientTaxpayNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientEMail)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Update_Get", new { Id = item.Id }) |
            @Html.ActionLink("Просмотреть", "ReedOne_Get_2", new { Id = item.Id }) |
            @Html.ActionLink("Удалить", "Delete_Get_2", new { Id = item.Id })
        </td>
    </tr>
        }
    </table>
    <div>
        @Html.ActionLink("НА ДОМАШНЮЮ СТРАНИЦУ", "Index", "Home")
    </div>
</body>
</html>
